<div class="lg:container mt-3 mr-auto ml-auto">
  <div class="row app-content">
    <div class="w-12/12">
      <div class="content__cart-warp">
        <div class="header__list-cart">
          <div class="w-1/12">
            <input type="checkbox" class="header__list-cart-checkbox" />
          </div>
          <div class="w-4/12 sm:w-5/12 md:w-6/12 header__list-cart-product">
            Sản phẩm
          </div>
          <div
            class="w-2/12 sm:w-2/12 col-sm-2 col-md-1 flex d-none d-sm-flex justify-center header__list-cart-price"
          >
            Đơn giá
          </div>
          <div
            class="w-2/12 flex justify-center d-none header__list-cart-quantity"
          >
            Số lượng
          </div>
          <div
            class="w-2/12 sm:w-2/12 col-sm-2 col-md-1 flex justify-center d-none d-md-flex header__list-cart-total"
          >
            Số tiền
          </div>
          <div
            class="w-3/12 sm:w-2/12 col-sm-2 col-md-1  justify-center d-none d-sm-flex header__list-cart-action"
          >
            Thao tác
          </div>
        </div>
        <div class="content__cart-list-wrap">
          @if(listItems().length > 0){
            @for (item of listItems(); track $index) {
              <app-cart-item-page  class="w-full content__cart-list-item"  [cartItem]="item" />
            }
          }
        </div>

        <div class="cart__purchase">
          <div class="flex items-center">
            <div class="w-1/12 cart__purchase-wrap-checkall">
              <input type="checkbox" class="cart__purchase-input" />
            </div>
            <span class="w-4/12 col-sm-2 cart__purchase-text">Chọn tất cả</span>
            <div class="w-1/12 col-1 cart__purchase-remove-checkall">Xóa</div>
            <div
              class="w-6/12 col-6 cart__purchase-grand-total flex justify-end items-center pe-5"
            >
              Tổng thanh toán (
              <span class="cart__purchase-quantity-total">  {{totalQuantity()}}  </span> Sản phẩm ):
              <span class="cart__purchase-price-total"> {{totalPrice() | number}} </span
              ><span class="text-primary-color"> đ</span>
            </div>
            <div
              class="w-2/12 col-2 btn btn--primary cart__purchase-btn d-none d-lg-flex justify-center items-center"
            >
              Mua hàng
            </div>
          </div>
          <!-- <div class="flex justify-end items-center w-100 mt-3 lg:hidden">
                        <div class="w-10/12 col-10 cart__purchase-grand-total flex justify-end items-center">Tổng thanh toán (  <span class="cart__purchase-quantity-total"> 0 </span> Sản phẩm ): <span class="cart__purchase-price-total">0  </span><span class="text-primary-color"> đ</span></div>
                        <div class="w-2/12 col-2 btn btn--primary cart__purchase-btn flex justify-center items-center">Mua hàng</div>
                    </div> -->
                  
        </div>
      </div>

      <div class="no-cart">
        <span class="message__nocart">Chưa có sản phẩm nào trong giỏ hàng</span>
      </div>
    </div>
  </div>
</div>
