
.content__cart-warp-quantity {
    width: 100px;
    height: 30px;
    border: solid 1px #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__cart-warp-minus, .content__cart-warp-plus {
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content__cart-warp-current {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    color: #767676;
}
.content__cart-item-info-img{
    height: 80px;
    width: 80px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.content__cart-item-checkbox {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(220, 220, 225, 1);
    margin-right: 15px;
}

.content__cart-item-checkbox:checked {
    -webkit-appearance: checkbox;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(220, 220, 225, 1);
    margin-right: 15px;
}
.custom-accept {
    margin-left: 12px;
    background-color: #28a745  !important; /* example: change background color */
    color: white; /* example: change text color */
    border-radius: 4px; /* example: rounded corners */
    padding: 6px 12px; /* example: padding */
    border: none; /* example: remove border */
    cursor: pointer; /* example: pointer cursor */
    transition: background-color 0.3s ease;
}

.custom-reject {
    margin-left: 12px;
    background-color: #dc3545  !important; /* example: change background color */
    color: white; /* example: change text color */
    border-radius: 4px; /* example: rounded corners */
    padding: 6px 12px; /* example: padding */
    border: none; /* example: remove border */
    cursor: pointer; /* example: pointer cursor */
    transition: background-color 0.3s ease;
}


.p-confirm-dialog {
  width: 300px !important;       /* Set desired width */
  max-width: 90vw !important;    /* Responsive fallback */
}

.p-confirm-dialog .p-dialog-content {
  font-size: 1.3rem;
}

.p-confirm-dialog .p-dialog-header {
  font-size: 1.3rem;
}
