<div class="header__cart-list">
  @if(listCarts.length){
  <h3 class="header__cart-list-heading">Sản phẩm đã thêm</h3>
  <div class="header__cart-list-item">
    @for (item of listCarts; track $index) {
    <app-cart-item [cartItem]="item" />

    }
  </div>
  <a class="btn btn--primary header__cart-view-cart">Xem giỏ hàng</a>

  }@else {
  <img
    src="../../assets/img/no-cart.png"
    alt=""
    class="header__cart-no-car-img"
  />
  <span class="header__cart-list-no-cart-msg"> Chưa có sản phẩm </span>
  }

</div>
