<div class="app__container mt-2 ml-2 mr-2">
    <div class="container mt-3 mr-auto ml-auto">
    <!-- <div class="grid"> -->
    <!-- <div class="row"> -->
        <div class="app-content flex flex-wrap ">
            <!-- Right side -->
            <!-- Category -->
             <div class="flex-auto w-2/12 pl-2 pr-2">
                <app-category-menu (selectedCategory)="onMenuCategorySelect($event)"/>
             </div>

            <!-- End of category -->
            <!-- End of right side -->

            <!-- Left side -->
            <div class="flex-auto md:w-10/12 sm:w-12 col-md-10 col-sm-12">
                <!-- Filter -->
                <app-filter-home></app-filter-home>

                <!-- End of filter-->

                <!-- Small category -->
                <div class="row mt-3 show-mobile hide">
                    <nav class="category">
                        <h3 class="col category__heading">Danh mục</h3>
                        <ul class="col category-list-small">
                            <div class="row">
                                <!-- <li class="col category-item-small category-item-small--active">
                                    <a href="" class="category-item-small__link">Trang diem mat</a>
                                </li>
                                <li class="col category-item-small">
                                    <a href="" class="category-item-small__link">Trang diem mat</a>
                                </li>
                                <li class="col category-item-small">
                                    <a href="" class="category-item-small__link">Trang diem mat</a>
                                </li> -->
                            </div>
                        </ul>
                        
                    </nav>
                </div>
               
                <!-- Product list -->
                <app-product-home [categoryId]="selectedCategoryId"/>
                <!-- End of product list -->
                <!-- Pagination -->
                <!-- <ul class="pagination home-product__pagination">
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item-icon fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a href="" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">5</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">14</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item-icon fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>  -->
                
                
                <!-- End of pagination -->
            </div>
            <!-- End of pagination -->
        </div>
    </div>
</div>