<div class="header__cart-item">
    <img [src]="cartItem.imgPath" alt="" class="header__cart-item-img">
    <div class="header__cart-item-info">
        <div class="header__cart-item-head">
            <h5 class="header__cart-item-name">{{cartItem.title}}</h5>
            <div class="header__cart-item-price-warp">
                <span class="header__cart-item-price">{{cartItem.price}} đ</span>
                <span class="header__cart-item-head-multiply">x</span>
                <span class="header__cart-item-qty">{{cartItem.quantity}}</span>
            </div>
        </div>
        <div class="header__cart-item-body">
            <span class="header__cart-item-desc">
                Phân loại: Bạc
            </span>
            <span class="header__cart-item-remove" onclick=removeFromCart()>Xóa</span>
        </div>
    </div>
</div>
