.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 22px;
} 

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    /* margin-right: 12px; */
}

.home-filter__btn:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-cur {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 2px 0px 0px #e4e4e4;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color:#f9f9f9;
    cursor: default;

}

.home-filter__page-btn--disabled:first-child {
    border-right: 1px solid #eee;
}

.home-filter-page-icon {
    font-size: 1.4rem;
    margin: auto;
    color: #555;
}